.container__dom-header {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 30px;
}
.dom-picture {
  margin-bottom: 30px;
}
.advices-picture {
  padding: 0px 238px;
  margin-bottom: 30px;
}
.extra-advices-picture {
  margin-bottom: 15px;
}
.extra-advices-picture__caption {
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  color: #5E5E5E;
  padding: 0px 66px;
  margin-bottom: 45px;
}
.dom-html-picture {
  padding: 0px 57px;
  margin-bottom: 30px;
}
.dom-example-picture {
  margin-bottom: 30px;
}