
.height {
    height: 376px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 42px 51px 30px;
}
.content-header-mod {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 120%;
    color: #000000; 
    
}
content__marga {
    margin-bottom: 9px;
}
.content__list-black {
    list-style-type: "-";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    margin: 0px;
    padding: 0px 473px 29px 49px;
}
.last-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 49px;
    margin-left: 49px;
}