.container__header {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 30px;
}
.container__paragraph-margin {
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 30px;
}
.right {
    float: right;
    margin-right: 63px;
    margin-bottom: 30px;
}
.collage-picture {
    background: url(../pictures/collage.jpg);
    width: 560px;
    height: 415px;
    margin-bottom: 30px;
}
.margin-picture {
    background: url(../pictures/margin-picture.jpg);
    width: 560px;
    height: 279px;
    float: right;
}