@import url(title_section.css);
@import url(margin_section.css);
@import url(dom_section.css);
@import url(zero_margin-section.css);
@import url(normalize.css);
@import url(global_styles.css);

body {
    font-family: Roboto;
    background-color:  white;;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.title-section{
    padding-top: 60px;
    padding-bottom: 50px;
    margin: auto;
}
.margin-section {
   
}
.dom-section {
}
.zero-margin-section {
   
}
