@import url(title_section.css);
@import url(margin_section.css);
@import url(dom_section.css);
@import url(zero_margin-section.css);
@import url(normalize.css);
@import url(global_styles.css);
@import url(footer_section.css);

body {
    font-family: Roboto;
    background-color:  white;;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.container__paragraph-margin {
    
    margin-bottom: 30px;
}
.title-section{
    padding-top: 60px;
    padding-bottom: 50px;
    margin: auto;
}
.margin-section {
    padding-bottom: 50px;
}
.dom-section {
    padding-bottom: 50px;
}
.zero-margin-section {
    padding-bottom: 50px;
}
.footer {
    padding-bottom: 60px;
}
