
.title-section__header {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 30px;
}
.title-section__article {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 50px;
}
.mod {
    margin-bottom: 30px;
}
.content {
    background-color: #F1F1F1;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.content-header {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
    padding: 0px 790px 20px 45px
}
.margin-mod {
    margin-bottom: 10px;
}
.content__list {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #02535F;
    margin: 0px;
    padding: 0px 446px 21px 70px
}