.container__zero-header {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 30px;
}
.bottom {
    margin-bottom: 84px;
}
.useful-wrong-ad {
    padding: 0px 239px;
    padding-bottom: 30px;
}
.extra-picture-advices {
    padding: 0px 239px;
    padding-bottom: 30px;
}
.html-code-picture {
    padding-bottom: 30px;
}
.example-picture {
    padding-bottom: 30px;
}
.html-example-picture {
    padding: 0px 136px;
    padding-bottom: 30px;
}
.css-example {
    padding: 0px 381px;
    padding-bottom: 30px;
}
.css-example-scnd {
    padding: 0px 289px;
}